<!DOCTYPE html>
<html>
        <head>
                <title>About</title>
        </head>

        <body>
                <h1>About this site</h1>
                <div>
                        hey there partner! <br/>
                        <strong>{{var1}}</strong><br/>
                        <strong>{{var2}}</strong><br/>
                </div>
                <div>
                        <a href="/tango/">Home page</a><br/>
                        <img src="{{MEDIA_URL}}django.jpg" alt="Picture of Django" />
                <div>
        </body>
</html>
