<!DOCTYPE html>
{% load staticfiles %}
{% load tango_template_tags %}

<html>
        <head>
                <title>
                        Tango -
                        {% block title_block %}
                                Palying with Django
                        {% endblock %}
                </title>
        </head>
        <body>
                <div style="display:inline-block">
                        {% block side_bar_block %}
                                <h3>
                                        Categories
                                </h3>
                                {% get_category_list category %}
                        {% endblock %}
                </div>
                <vr/>
                <div style="display: inline-block">
                        {% block body_block %}
                                This is the default body content, if not overriden.
                        {% endblock %}
                </div>
                <hr />
                <div>
                        <ul>
                                <li>
                                        <a href = "{% url 'tango:add_category' %}">
                                                Add new category
                                        </a>
                                </li>
                                <li>
                                        <a href = "{% url 'tango:about' %}">
                                                About
                                        </a>
                                </li>
                                <li>
                                        <a href = "{% url 'tango:index' %}">
                                                Index / Home Page
                                        </a>
                                </li>
                        </ul>
                </div>
        </body>
</html>
